<table>
    <tr class="spaceUnder">
        <td></td>
        <td>Name</td>
        <td>LAN IP</td>
    </tr> 
    {% for host in hosts %}
    <tr>
        <td>
        {% if host['online'] %}
        <div class="ind online"></div>
        {% else %}
        <div class="ind excline"></div>
        {% endif %}
        </td>
    
        <td>{{ host['name'] }}</td>
     
        <td>
        <b>
        <a href="{{ host['url'] }}" target="_blank">{{ host['url'] }}</a>
        </b>
        </td>
    </tr>
    {% endfor %}
</table>