<!DOCTYPE html>
    <head>
        <link rel=stylesheet type=text/css href="{{ url_for('static', filename='style.css') }}">
        <link rel="shortcut icon" href="{{ url_for('static', filename=favicon) }}">
        
        <link href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700" rel="stylesheet">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.1/jquery.min.js"></script>
        <script src="{{ url_for('static', filename='raphael-2.1.4.min.js') }}"></script>
        
        {% if title %}
        <title>Tailwind - {{ title }}</title>
        {% else %}
        <title>Tailwind</title>
        {% endif %}
        <meta name="viewport" content="width=device-width, user-scalable=no, initial-scale=0.8">
        <meta name="theme-color" content="{{ colour }}">
        <meta name="mobile-web-app-capable" content="yes">
    </head>
  
    <body>
    
    <div id="headbar" style="background: {{ colour }};">

    <div class="hicon"> <img src="{{ url_for('static', filename=emblem) }}" height="48px"></div>
    <div class="htxt">{{ title }} <div class="hlight hmsg">{{ msg }}</div> </div>
    <div class="hemblem"> <img src="{{ url_for('static', filename='emblem_jtcollins_white.svg') }}" height="48px"></div>
    </div>
    
    <div class="maincontainer">

        <div id="cardcontainer">
        
            {% if 'sysinfo' in cards %}
            <div id="server_status" class="infoblock card centered">
                <h2 style="float: left;">Server Load</h2>
            
                <div class="gauge_block">
                    <div id="cpu_gauge" class="sml_gauge"></div>
                    <div id="cpt_gauge" class="sml_gauge"></div>
                    <div id="ram_gauge" class="sml_gauge"></div>
                </div>
                
                <div class="gauge_block">
                    <div id="gpu_gauge" class="sml_gauge"></div>
                    <div id="gpt_gauge" class="sml_gauge"></div>
                    <div id="gpm_gauge" class="sml_gauge"></div>
                </div>
            </div>
            <script src="{{ url_for('static', filename='justgage.js') }}"></script>
            <script src="{{ url_for('static', filename='card_js/reload_gauges.js') }}"></script>
            {% endif %}
        
            {% if 'vpnscan' in cards %}
            <div class="infoblock card">
                <h2> OpenVPN Clients</h2>
                <div id="vpnlist" class="devicelist"></div>
            </div>
            <script src="{{ url_for('static', filename='card_js/reload_vpn.js') }}"></script>
            {% endif %}
            
            {% if 'netscan' in cards %}
            <div class="infoblock card">
                <h2> Hosts</h2>
                <div id="devlist" class="devicelist"></div>
            </div>
            <script src="{{ url_for('static', filename='card_js/reload_devs.js') }}"></script>
            {% endif %}
            
            {% if 'vmscan' in cards %}
            <div class="infoblock card">
                <h2> Hyper-V</h2>
                <div id="vmlist" class="devicelist"></div>
            </div>
            <script src="{{ url_for('static', filename='card_js/reload_vm.js') }}"></script>
            {% endif %}

            {% for key, value in static_cards.items() %}
                <div class="infoblock card">
                    <h2> {{key}}</h2>
                    {{value}}
                </div>
            {% endfor %}
            
            {% if 'platform' in cards %}
            <div class="infoblock card">
                <h2> Platform</h2>
                <table>
                    {% for key, data in platform.items() %}
                    <tr>
                        <td><b>{{data['name']}}</b></td>
                        <td>{{data['val']}}</td>
                    </tr>
                    {% endfor %}
                </table>
            </div>
            {% endif %}
            
        </div>
    </div>
    
    
    
    </body>
</html>