<table>
    <tr class="spaceUnder">
        <td></td>
        <td>Name</td>
        <td>State</td>
        <td>CPU</td>
        <td>Memory</td>
        <td>Uptime</td>
    </tr> 
    {% for host in hosts %}
    <tr>
        <td>
        <div class="ind {{ host['Status'] }}"></div>
        </td>
    
        <td>{{ host['Name'] }}</td>
        <td>{{ host['State'] }}</td>
        <td>{{ host['CPUUsage'] }}%</td>
        <td>{{ host['MemoryAssigned'] }} MB</td>
        <td>{{ host['Uptime'] }}</td>
     
    </tr>
    {% endfor %}
</table>